<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>EmployeeSearch_RequestDispaching</display-name>

	<welcome-file-list>
		<welcome-file>search.html</welcome-file>
	</welcome-file-list>
	
	
	<servlet>
		<servlet-name>emp</servlet-name>
		<servlet-class>com.search.requestdispacher.EmployeeSearchServlet</servlet-class>

		<init-param>
			<param-name>JdbcDriver</param-name>
			<param-value>com.mysql.cj.jdbc.Driver</param-value>
		</init-param>

		<init-param>
			<param-name>url</param-name>
			<param-value>jdbc:mysql:///employee</param-value>
		</init-param>

		<init-param>
			<param-name>username</param-name>
			<param-value>root</param-value>
		</init-param>

		<init-param>
			<param-name>password</param-name>
			<param-value>admin</param-value>
		</init-param>

	</servlet>


	<servlet-mapping>
		<servlet-name>emp</servlet-name>
		<url-pattern>/dburl</url-pattern>
	</servlet-mapping>

</web-app>